<h1 class="col-sm-offset-2">Users archive</h1>

<div align="center">
  <%= will_paginate %>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-6 col-md-offset-2">
          <li><%= link_to gravatar_for(user, 80), user_path(user) %></li>
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
          <li><small><%= pluralize(user.articles.count, 'post') if user.articles %></small></li>
          <% if logged_in? && current_user.admin? %>
          <li><%= link_to 'Delete user', user_path(user), method: :delete %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>
