<%= render 'shared/error', obj: @declaration %>

<div class="row">
  <div class="col-xs-12">

    <%= form_for(@declaration, html: {class: 'form-horizontal', role: 'form'}) do |f| %>

        <div class="form-group">
          <div class="control-label col-xs-2 title">
            <%= f.label :title %>
          </div>
          <div class="col-sm-6">
           <%= f.text_field :title, class: 'form-control', placeholder: 'Enter Title', autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-xs-2 title">
            <%= f.label :description %>
          </div>
          <div class="col-sm-6">
            <%= f.text_area :description, rows: 9, class: 'form-control', placeholder: 'Enter Description' %>
          </div>
        </div>

        <btn-row>
          <ul class="col-sm-offset-2 col-sm-10">
            <li>
              <%= f.submit class: 'btn btn-primary btn-md' %>
            </li>

            <li>
              [ <%= link_to 'Cancel', :back %> ]
            </li>
          </ul>
        </btn-row>

    <% end %>
  </div>
</div>