<%= render 'shared/error', obj: @declaration %>

<%= form_for(Comment.new, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
    <%= f.hidden_field :declaration_id, value: @declaration.id %>

    <div class="col-sm-8 col-sm-offset-2">
      <%= f.text_area :text, rows: 4, class: 'form-control', placeholder: 'Reply' %>
    </div>

    <div class="col-sm-8 col-xs-offset-2">
          <%= f.submit class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>

